@import url("/home/turner/.cache/wal/colors-waybar.css");

@define-color mauve  @color9;
@define-color red  @color9;
@define-color lavender  @color7;
@define-color text  @color7;

* {
  font-family: "Jetbrains Mono NF", monospace;
  font-size: 18px;
  outline: none;
  border: none;
  text-shadow: none;
  background-color: transparent;
}

window {
  all: unset;
  padding: 20px;
  border-radius: 10px;
  background-color: alpha(@background, 0.5);
}
/* Slide In */
@keyframes slideIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Inner Box */
#inner-box {
  margin: 2px;
  padding: 5px;
  border: none;
  animation: slideIn 0.5s ease-in-out;
}
#outer-box {
  border: none;
}
#scroll {
  margin: 0px;
  padding: 30px;
  border: none;
}
#input {
  all: unset;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  padding: 20px;
  border: none;
  outline: none;
  color: @text;
  animation: slideIn 0.5s ease-in-out;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  border-radius: 10;
}
#input image {
  border: none;
  color: @red;
  outline: none;
}
#input * {
  border: none;
  outline: none;
}
#input:focus {
  outline: none;
  border: none;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  border-radius: 10;
}
#text {
  margin: 5px;
  border: none;
  color: @text;
  outline: none;
}
#entry {
  border: none;
}
#entry arrow {
  border: none;
  color: @lavender;
}
#entry:selected {
  box-shadow: 1px 1px 5px rgba(255, 255, 255, 0.03);
  border: none;
  border-radius: 20px;
  background-color: transparent;
}
#entry:selected #text {
  color: @mauve;
}
#entry:drop(active) {
  background-color: @lavender !important;
  animation: fadeIn 0.5s ease-in-out;
}
